# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log
/logs

# IntelliJ / VSCode
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
.env
docker-compose.override.yml
mysql_data/

# Java
*.class
